.item {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--background);
}

.item.active {
  display: block;
}

.item .title {
  font-size: 12rem;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item .fruit {
  width: 96%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.item .refri {
  z-index: 2;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #eee9;
  border: 1px solid #eee9;
  color: #eee;
  font-size: x-large;
  font-family: monospace;
  cursor: pointer;
  z-index: 4;
  border-radius: 50%;
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}

@keyframes toActive {
  from {
    top: 100%;
    opacity: 0;
  }
}

.item.active img.fruit {
  animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
  animation: toActive 0.5s ease-in-out 1;
}

@media (max-width: 1160px) {
  .item .fruit {
    width: 100%; /* Defina um tamanho fixo ou relativo */
    max-width: 800px; /* Limite para não crescer demais em telas gigantes */
    position: absolute;
    top: 50%; /* Alinha ao meio vertical */
    left: 50%; /* Alinha ao meio horizontal */

    /* O SEGREDO: O transform precisa compensar o posicionamento 
       para que o centro da imagem de frutas encontre o centro da tela */
    transform: translate(-50%, -50%);

    z-index: 3;
    pointer-events: none; /* Evita que a imagem das frutas bloqueie o clique nos botões */
  }

  .item .refri {
    width: 350px;
  }

  .item .title {
    font-size: 6rem;
  }

  .arrow {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    display: flex;
    gap: 200px;
    z-index: 10;
  }

  #prev,
  #next {
    position: static;
    transform: none;
    width: 50px;
    height: 50px;
  }
}
